.ProductCard {
  width: 356px;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  // justify-content: space-between;
  cursor: pointer;

  @media (max-width: 1400px) {
    width: 250px;
    
  }

  @media (max-width: 1133px) {
    width: 200px;
  }

  @media (max-width: 800px) {
    height: unset;
  }



  img {
    width: 100%;
    border-radius: 6px;
    padding-bottom: 15px;
  }

  .modelNPrice {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .model {
      color: #27272d;
      font-size: 20px;
      font-weight: 600;
      margin: 0;

      @media (max-width: 1400px) {
        font-size: 16px;
      }
    }

    .price {
      font-size: 20px;
      font-weight: 600;
      color: #3e4095;
      margin: 0;

      @media (max-width: 1400px) {
        font-size: 16px;
      }
    }
  }
}
