.ServiceSection {
  width: 100%;
  padding: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;

  @media (max-width: 500px) {
    padding: 20px;
  }

  .titleNWatchMore {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h3 {
      color: #27272d;
      font-size: 26px;
    }

    .watchMore {
      width: 226px;
      height: 56px;
      border: none;
      outline: none;
      background: #fff;
      border-radius: 12px;
      box-shadow: 0 5px 10px rgba(58, 58, 58, 0.137);
      font-size: 20px;
      color: #3e4095;
      cursor: pointer;

      @media (max-width: 624px) {
        display: none;
      }
    }
  }

  .serviceSlider {
    width: 100%;
    // height: 290px;
    display: flex;
    align-items: center;

    .carousel {
      width: 100%;
    }
  }

  .watchMoreMob {
    width: 100%;
    height: 56px;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(58, 58, 58, 0.137);
    font-size: 20px;
    color: #3e4095;
    cursor: pointer;
    display: none;

    @media (max-width: 624px) {
      display: block;
    }
  }
}

.serviceCard {
  // width: 500px;
  min-height: 298px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(73, 72, 72, 0.082);
  padding: 15px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin: 30px;

  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3e3f9510;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    @media (max-width: 1280px) {
      width: 48px;
      height: 48px;
    }
  }

  h4 {
    font-size: 20px;
    color: #27272d;

    @media (max-width: 1280px) {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  p {
    font-size: 18px;
    color: #6b6b6b;

    @media (max-width: 1280px) {
      font-size: 16px;
      margin: 10px 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;

    @media (max-width: 1280px) {
      font-size: 16px;
      margin: 10px 0;
    }

    span {
      font-size: 18px;
      color: #3e4095;

      @media (max-width: 1280px) {
        font-size: 16px;
      }
    }
  }
}
